/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=EB+Garamond:wght@500&family=Kablammo&family=Lobster&family=Playfair:ital,wght@0,300;1,300&display=swap');

/* General Styling */
body {
  background-color: #333333;
  font-family: 'EB Garamond', serif;
  color: #ffffff;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}

/* Header */
.navbar {
  border-bottom: none;
}

.nav-link {
  color: #ffffff;
}

.nav-link:hover {
  color: #f3722c;
}

.dropdown-menu {
  background-color: #f3722c;
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-item:hover {
  background-color: #e65d13;
  color: #ffffff;
}

/* Theme Selector */
#color {
  display: none;
}

/* Typing Challenge Section */
#challengeText {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: aliceblue;
}

#userInput {
  font-size: 18px;
  padding: 5px;
  margin-bottom: 10px;
  color: #333333;
  background-color: #ffffff;
} 

/* Timer */
#timer {
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
}

/* Start Button */
#begin {
  background-color: #f3722c;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#begin:hover {
  background-color: #689f38;
}

/* Result Section */
#countdown,
#timeLeft,
#answer {
  font-size: 2rem;
  text-align: center;
  color: aliceblue;
}

#restart {
  background-color: #f3722c;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#restart:hover {
  background-color: #e44b14;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.container {
  animation: fadeIn 1s ease;
}

#challengeText,
#userInput,
#timer,
#countdown,
#timeLeft,
#answer,
#restart {
  animation: slideInFromLeft 0.5s ease;
}
