{% extends "layout.html" %}

{% block title %}
    Mango Typer
{% endblock %}

{% block main %}
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark" data-bs-theme="dark"">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/static/magoo.png" alt="Logo" width="45" height="36" class="d-inline-block align-text">
            Mango Typer
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Options
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#" onclick="setColour(1)">Green/Red</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#" onclick="setColour(2)">Blue/Orange</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#" onclick="setColour(3)">Pink/Green</a></li>
                </ul>
              </li>
              <option value="1" id="color" hidden>XDDD<option>
            </ul>
            <span class="navbar-text">
                <a href="https://github.com/Vinqueire"><img src="/static/github.png" alt="Logo" width="25" height="25" class="d-inline-block align-text"></a>
            </span>
          </div>
        </div>
    </nav>
    <div style="text-align: center;">
        <form>
            <select id="timeSelect" class="form-select form-select-sm mb-3" aria-label=".form-select-lg example">
                <option selected disabled value="0">Select time</option>
                <option value="10">10 sec</option>
                <option value="20">20 sec</option>
                <option value="30">30 sec</option>
                <option value="60">1 min</option>
            </select>
        </form>
        <div>
            <button id="begin" class="btn btn-secondary btn-sm" type="button" onclick="countdown(5);" style="position: relative; top: 0.1rem; width: 6rem;">Begin</button>
        </div>    
    </div>
    <div class="container" style="text-align: center;">
        <div id="challengeText" onmousedown='return false;' onselectstart='return false;'></div>
        <input type="text" hidden id="userInput" placeholder="Type your text here">
    </div>
    <p id="countdown" hidden style="font-size: 2rem; text-align: center;">The test will begin in: <span id="countdownTime"></span></p>
    <div style="text-align: center;">
        <p style="font-size: 2rem;" id="timeLeft" hidden>Time left: <span id="timer" style="font-size: 2rem;"></span></p>
        <p style="font-size: 2rem;" id="answer" hidden>You've got: <span id="answerWpm" style="font-size: 2rem;"></span> WPM</p>
    </div>
    <script src="/static/setColour.js"></script>
    <script src="/static/makeWordList.js"></script>
    <script src="/static/displayer.js"></script>
    <script src="/static/timer.js"></script>
    <script src="/static/startTest.js"></script>
    <script src="/static/countdown.js"></script>
    <script src="/static/wpmCalculation.js"></script>
{% endblock %}