{% extends "layout.html" %}

{% block title %}
    Tutuuu
{% endblock %}

{% block main %}
    <header style="text-align: center;">
        <span class="dank">Zakaz brapowania frajerze</span>
    </header>
    <div style="text-align: center; position: relative; top: 2.5rem;">
        <form>
            <select class="form-select" aria-label="Default select example" style="font-size: 1.5rem; background-color: rgb(35, 34, 37); color: azure;" 
            id="timeSelect">
                <option selected disabled value="0">Okay, so this shit will choose time</option>
                <option value="10">10 sec</option>
                <option value="20">20 sec</option>
                <option value="30">30 sec</option>
                <option value="60">1 min</option>
                <!-- Task for tommorow, figure out how to make a class or something that eliminates all of the style repetition -->
                <!-- Make it so that on the button click random text chosen from an array appears, that you later need to type out -->
                <!-- Actually figure out the way to place the texts there -->
                <!-- Make it so that when you type a correct character in the field bellow the background colour in the text up is green, and when you type a wrong char it turns red -->
            </select>
        </form>
        <div>
            <button type="button" class="btn btn-success btn-sm" style="position: relative; top: 1rem;" onclick="putText()">Begin</button>
        </div>    
    </div>
    <div style="text-align: center;">
        <p style="position: relative; top: 7.5rem; font-size: 1.5rem; color: aqua; background-color: rgb(35, 34, 37);" id="stuffToType"></p>  
    </div>
    <div style="text-align: center;">
        <p>
            <textarea style="position: relative; top: 7.5rem; font-size: 1.5rem; background-color: rgb(35, 34, 37); color: azure;"
             rows="1" cols="40" placeholder="Type your text here" oninput="checkText()" id="myText"></textarea>
        </p>  
    </div>
    <div>
        <p style="position: relative; top: 8rem; font-size: 2.5rem; text-align: center; color: azure;"><span>Time left: <span id="temp"></span></span></p>
    </div>
    <button type="button" class="btn btn-success btn-sm" style="position: relative; top: 1rem;" onclick="makeList()">Test</button>
    <script src="/static/makeWordList.js"></script>
    <script src="/static/timer.js"></script>
    <script src="/static/displayer.js"></script> 
    <!-- Make a script that fills the text container on button click -->
{% endblock %}